<!DOCTYPE html>
<html lang="en" ng-app="writeApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENTER DATA</title>
  <link rel="stylesheet" href="css/write-data.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-controller="WriteController">

  <header>
    <div class="page-title center">ENTER BOOK DATA</div>
    <nav class="center-nav">
      <a href="library.html">HOME</a>
      <a href="write-data.html">ENTER DATA</a>
      <a href="view-data.html">VIEW DATA</a>
      <a href="browse-data.html">BROWSE DATA</a>
    </nav>
  </header>

  <main class="card center-card">
    <form novalidate>
      <label for="title">Title</label>
      <input id="title" type="text" ng-model="book.title"><br>

      <label for="author">Author</label>
      <input id="author" type="text" ng-model="book.author"><br>

      <label for="publisher">Publisher</label>
      <input id="publisher" type="text" ng-model="book.publisher"><br>

      <label for="yearPublished">Year Published</label>
      <input id="yearPublished" type="number" ng-model="book.yearPublished"><br>

      <label for="isbn">ISBN</label>
      <input id="isbn" type="text" ng-model="book.isbn"><br>

      <div class="actions">
        <button type="button" ng-click="submit()">Submit</button>
        <button type="button" ng-click="clear()">Clear</button>
      </div>
    </form>

    <p class="small center" ng-if="status">{{status}}</p>
  </main>

  <script src="js/write-data.js"></script>
</body>
</html>
